<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Golang - Add Post</title>
</head>

<body>
  <!-- start::navbar -->
  <nav class="navbar navbar-light navbar-expand-lg mb-2" style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
          class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">All Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Preview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 2</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end::navbar -->

  <!-- start::content -->
  <!-- start::content -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="mb-0">All Post</h4>
        <nav aria-label="breadcrumb" class="mb-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Post</a></li>
            <li class="breadcrumb-item active" aria-current="page">All Post</li>
          </ol>
        </nav>
        {{ if .pesan }}
        <div class="alert alert-success">
          {{ .pesan }}
        </div>
        {{ end }}

        <form action="/post/add_post" method="post">
          <div class="form-group">
            <label for="">Title</label>
            <input type="text" name="nama_lengkap" value="{{ .post.titla }}"
              class="form-control {{ if .validation.post }} is-invalid {{ end }}">
            <div class="invalid-feedback">
              {{ .validation.post }}
            </div>
          </div>
          <div class="form-group">
            <label for="">Content</label>
            <textarea class="form-control {{ if .validation.content }} is-invalid {{ end }}" name="content"
              id="exampleFormControlTextarea1" rows="3">{{ .post.content }}</textarea>
            <div class="invalid-feedback">
              {{ .validation.content }}
            </div>
          </div>
          <div class="form-group">
            <label for="">Category</label>
            <input type="text" name="nik" value="{{ .post.category }}"
              class="form-control {{ if .validation.category }} is-invalid {{ end }}">
            <div class="invalid-feedback">
              {{ .validation.category }}
            </div>
          </div>
          <div class="form-group">
            <label for="">Status</label>
            <select name="status" class="form-control {{ if .validation.status }} is-invalid {{ end }}">
              <option value="">Pilih Jenis Kelamin</option>
              <option {{ if eq .post.status `Publish` }} selected {{ end }} value="Publish">Publish</option>
              <option {{ if eq .post.status `Draft` }} selected {{ end }} value="Draft">Draft</option>
            </select>
            <div class="invalid-feedback">
              {{ .validation.status }}
            </div>
          </div>

          <div class="form-group mt-3">
            <button class="btn btn-primary btn-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end::content -->




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1da698e4cf.js" crossorigin="anonymous"></script>
</body>

</html>